@model Web.Models.HoeViewModel

@{
    ViewData["Title"] = "Hoe";
}

<h3>ActualConnectionString</h3>
@Html.Raw(Model.ActualConnectionString)

<h3>Configuration Variables</h3>
@Html.Raw(Model.ConfSql)

<h3>IPs</h3>
<ul>
    <li>@Html.Raw(Model.HostIp)</li>
    <li>@Html.Raw(Model.PublicIp)</li>
</ul>

<h3>Environment Variables</h3>
<ul>
    <li>@Html.Raw(Model.EnvSql)</li>
    <li>@Html.Raw(Model.EnvSubstituteLocalIp)</li>
    <li>@Html.Raw(Model.EnvSubstitutePublicIp)</li>
</ul>